Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [6]:
s = 'siddartha'
l = [1,2,3,4,5,6,'Thala',8,9]
f = 69.69
t = ('sid',7,8.28)

Q2. Given are some following variables containing data:
(i) var1 = ''
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = ['DS','ML','Python']
(iv) var4 = 1.

In [11]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = ['DS','ML','Python']
var4 = 1.

#var1 & var2 are string data type
#var3 is list data type
#var4 is float data type

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [13]:
a = 10
b = 4

# / is used for division
print(a/b)

# % is used to find the remainder, also called modulus operator
print(a%b)

# // is used to find the floor value, basically integer value of the quotient ignoring decimal values
print(a//b)

# ** is used as a power function, a**b is a raised to the power b
print(a**b)

2.5
2
2
10000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [20]:
l = [7, 69.69, 8.28, 'Siddartha', ['a','b'], 'Python', 'Naruto', -10, 15, 2023]

for i in l :
    s = type(i)
    print(i,s)

7 <class 'int'>
69.69 <class 'float'>
8.28 <class 'float'>
Siddartha <class 'str'>
['a', 'b'] <class 'list'>
Python <class 'str'>
Naruto <class 'str'>
-10 <class 'int'>
15 <class 'int'>
2023 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [26]:
a = int(input('Enter A'))
b = int(input('Enter B'))

count = 0 

while a>=b : 
    if a%b == 0 :
        count += 1
    else :
        print('A is not purely divisible by B')
    a = a/b
print('A is divisible by B' , count , 'times')

Enter A 16
Enter B 4

A is divisible by B 2 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [29]:
l = list(range(25))

for i in l:
    if i%3 == 0 :
        print(i,'is divisible by 3')
    else :
        print(i, 'is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [32]:
# Mutable data types are those in which any value in the data type can be accessed and changed accordingly. List data type for example
# Immutable data types are those in which any value can be accessed but not be changed. String data type for example

# variables containing mutable data types can change their original form whereas immutable data types cannot change their original form.

l = [1,2,3,4,5,6,'Thala',8,9]
l[6] = 7

# Above operation won't throw an error, Mutable data type

s = 'Siddaxtha'
s[5] = 'r'

# The one above will throw an error, Immutable data type

TypeError: 'str' object does not support item assignment